body {
    font-family: Arial, sans-serif;
    background: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background: #1e90ff;
    padding: 20px;
    text-align: center;
    color: white;
}

section {
    padding: 20px;
    background: white;
    margin: 20px auto;
    width: 70%;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

footer {
    text-align: center;
    padding: 10px;
    background: #ddd;
    margin-top: 30px;
}
